config:
    paths:
        - "/folder1"
        - "/folder2"
    temporary_path:       "/path/to/tmp/"
    file_database:        "/path/to/files.db"
    virus_database:       "/path/to/quarantene.db"
    infection_action:     "none"
    report:
        enabled:          false
        subject:          "Virus Infection Report"
        from:             "me@domain.com"
        to:               "you@domain.com"
        